:root{
--Purple600: hsl(246, 80%, 60%);
--Orange300 : hsl(15, 100%, 70%);
--Blue300 : hsl(195, 74%, 62%);
--Pink400 : hsl(348, 100%, 68%);
--Green400 : hsl(145, 58%, 55%);
--Purple700: hsl(264, 64%, 52%);
--Yellow300: hsl(43, 84%, 65%);
--Navy950: hsl(226, 43%, 10%);
--Navy900: hsl(235, 46%, 20%);
--Purple500: hsl(235, 45%, 61%);
--Navy200: hsl(236, 100%, 87%);

}

*{
margin:0;
padding:0;

}

body{
    background:var(--Navy950);
    font-size:62.5%;
      font-family: "Poppins", sans-serif;
      color:#fff;
}


h2{
    font-size:1rem;
     font-weight: 500;
    
}
h3{
        font-size: 1.8rem;
    font-weight: 200;
}



img{
    width:100%;
}

.ellipsis{
    width:1rem;
}
.container{     

    width:90%;
    margin:auto;
    display:grid;
    gap: 4rem;
}

header{
    margin-top:4rem;
    color: var(--Navy200);
}






header h1 {
            font-size: 1.5rem;
    font-weight: 500;
    
}
.top-section span{
display: block;
    font-size: 0.8rem;


}

.top-section{
      background: var(--Purple600);
}

.header-text-wrapper{

       line-height: 1.3rem;
}

.top-section,.bottom-section{
      padding:1rem;
    }

.header-image{
width:4rem;
}



    .bottom-section {
        background: var(--Navy900);
    }



.bottom-section ul {
       display: flex;
    list-style: none;
    justify-content: space-between;
    /* width: 100%; */
    font-size: 0.9rem;
    font-weight: 500;
   

}


.top-section{
      
        display:flex;
            gap: 2rem;
        align-items: center;
}

.top-section, .bottom-section{
        padding: 1.5rem;
        border-radius: 1rem;
}




section{
     background: var(--Navy900);
     position:relative;
      padding: 2rem 1rem;
          border-radius: 1.3rem;

}

section img {
           width: 3.9rem;
    /* margin-right: auto; */
    margin-left: auto;
    position: absolute;
    right: 1.2rem;
}


.ellipsis{
    
    position: absolute;
    right: 1.6em;
    top: 2.7rem;
}

.daily{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.weekly, .monthly{
    display:none
}


section p{
        font-size: 1rem;
    font-weight: 500;
    color: var(--Purple500);
}

.section-top{
       
    border-radius: 0.6rem;
    position: absolute;
    width: 100%;
    top: -2.2rem;
    z-index: -1;
    left: 0rem;
    height:6rem;
}

.work .section-top{
     background-color: var(--Orange300);
}

 .play .section-top{
     background-color: var(--Blue300);
}
 .study .section-top{
     background-color: var(--Pink400);
}
 .exercise .section-top{
     background-color: var(--Green400);
}
 .social .section-top{
     background-color: var(--Purple700);
}
 .selfcare .section-top{
     background-color: var(--Yellow300);
}   




@media screen and (min-width: 768px) {

    h3{
        font-size: 3.7rem;
    }

    main {
        display:grid;
        place-content: center;
        height:100dvh;
    }
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "header work play study"
        "header exercise social selfcare";
                padding: 5rem 0;
    }

    header{
        
                grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 495px;
        margin: 0;
        padding:0;
        
    }

    header h1 {
            font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}
    

    .top-section{
        flex-direction: column;
    align-items: flex-start;
           flex: 0 0 70%;
    }

    .bottom-section{
             flex: 0 0 36%;
               overflow: hidden; 

       
    }

    .top-section,.bottom-section{
       
            border-radius: 1rem;
        position: relative;
        top: -2rem;
        box-sizing: border-box;
        padding: 2rem 2rem;
        width: 15rem;
    
    
    }

    .bottom-section ul {
            padding:  0;
    gap: 1.1rem;
    flex-direction:column
    }

    .work{
        grid-area: work;
    }
    .play{
        grid-area: play;

    }
    .study{
        grid-area: study;

    }
    .exercise{
        grid-area: exercise;

    }
    .social{
        grid-area: social;

    }
    .selfcare{
        grid-area: selfcare;

    }

    /* section */

    .daily,.weekly,.monthly{
       flex-wrap:wrap;

    }
    section p {
        color: var(--Navy200);
      font-size: 0.8rem;
    font-weight: 500;
}
    h3{
        width: 100%;
    }

}